.cta {
    background-color: var(--red1);
    min-height: 220px; //

    display: flex;
    align-items: center;

    .section__container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 5rem 0;

        @media (min-width: 50em) {
            flex-direction: row;
            gap: 0;
        }
    }

    background-image: url('../../images/bg-simplify-section-desktop.svg');
    background-position: top left -100px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 50em) {
        background-position: bottom left 300px;
    }

}

.cta__header {
    color: var(--gray1);
    letter-spacing: -0.5px; //
    width: auto;
    text-align: center;
    font-size: 40px;

    @media (min-width: 50em) {
        width: 20ch;
        align-items: center;
        text-align: left;
    }
}

.cta__button {
    font-weight: var(--fw-bold); //

    @media (min-width: 50em) {
        margin-left: auto;
    }
}