.header {
    font-size: var(--fs-13);
    font-weight: var(--fw-bold);
    white-space: nowrap;
    padding: var(--primary-padding) 0 0;
    min-height: px-to-rem(77px);
    /* margin-bottom: 3rem; */

    position: relative;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
    margin-block: auto;
}

.header__button {
    display: none;

    @media (min-width: 50em) {
        margin-left: auto;
        display: block;
    }
}

.header__nav {
    width: auto;

    @media (min-width: 50em) {
        width: max(370px, 35%);
    }
}

.header__nav-list {
    flex: 1;
    gap: 1rem;
    justify-content: space-between;

    letter-spacing: -0.5px;
    color: var(--blue1);
    display: none;
    font-weight: var(--fw-bold);

    @media (min-width: 50em) {
        display: flex;
        font-weight: var(--fw-medium);
    }
}

.header__nav-link:hover {
    color: var(--blue2);
}

.header__nav-overlay {
    display: none;
    position: absolute;
    width: auto;
    height: 100vh;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.hamburger {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    display: block;

    @media (min-width: 50em) {
        display: none;
    }

    &__icon-close {
        display: none;
    }
}

.hamburger[aria-expanded='true'] {
    .hamburger__icon-open {
        display: none;
    }

    .hamburger__icon-close {
        display: block;
    }
}

.hamburger[aria-expanded='true'] {
    +.header__nav-overlay {
        display: block;
    }

    ~.header__nav-list {
        position: absolute;
        top: 140%;
        left: 0;
        right: 0;
        margin-inline: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 1rem;

        border-radius: 5px;
        background-color: var(--gray1);
    }
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}