.hero {
    min-height: 95vh;

    .section__container {
        --padding: 1.5rem;

        @media (min-width: 50em) {
            justify-items: left;
        }
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    align-items: center;
    text-align: center;

    @media (min-width: 50em) {
        text-align: left;
        align-items: start;
    }
}

.hero__header {
    letter-spacing: -1.5px; // ??? headers
}

.hero__content {
    color: var(--blue2); // ??? contents
    max-width: 32ch;
}

.hero__figure {
    order: -1;
    overflow: hidden;

    @media (min-width: 50em) {
        order: 2;
    }
}