.overview {
    .section__container {
        align-items: start;
    }
}

//Left
.overview__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-2);
    margin-bottom: 2rem; //

    @media (min-width: 50em) {
        text-align: left;
        align-items: start;
    }

}

.overview__header {
    line-height: 44px;
    padding: 0 1rem;

    @media (min-width: 50em) {
        line-height: 1.1;
        padding: 0;
    }
}

.overview__content {
    max-width: 32ch;
}


//right
.overview__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    counter-reset: count;
}

.overview__benefit-content {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0.5rem 1rem;

    align-items: center;

    counter-increment: count;

    @media (min-width: 50em) {
        gap: 0.5rem 2rem;
    }

    &::before {
        content: "0" counter(count);

        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: min-content;

        display: flex;
        align-items: center;
        color: var(--gray1);
        background-color: var(--red1);
        font-weight: var(--fw-medium);
        border-radius: 100vmax;
        padding: 0.5rem 1.5rem;
    }

    &::after {
        --red2: hsl(13, 45%, 92%);
        content: "";
        height: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: -1;
        display: block;
        background-color: var(--red2);
        border-radius: 100vmax 0 0 100vmax;
        box-shadow: 10em 0 0 var(--red2);

        @media (min-width: 50em) {
            all: unset;
        }
    }
}

.overview__benefit-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.overview__benefit-description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    @media (min-width: 30em) {
        grid-column: 2 / 3;
    }
}