@use 'function' as *;

:root {

    // COLORS
    //primary
    --red1: hsl(12, 88%, 59%);
    --blue1: hsl(228, 39%, 23%);
    //secondary
    --blue2: hsl(227, 12%, 61%);
    --blue3: hsl(233, 12%, 13%);
    --red2: hsl(13, 100%, 70%);
    --red3: hsl(13, 85%, 46%);
    --gray1: hsl(0, 0%, 98%);

    // TYPO
    //family
    --ff-primary: "Be Vietnam Pro", sans-serif;
    //weight
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    //size
    --fs-13: 0.8125rem;
    --fs-14: 0.875rem;
    --fs-15: 0.9375rem;
    --fs-16: 1rem;
    --fs-30: 1.875rem;
    --fs-40: 2.5rem;
    --fs-56: #{fluid(40px, 56px)};

    --gap-2: #{fluid(16px ,32px)};

    --break-50: 50em;

    --fs-body: var(--fs-14);
    --fs-primary-heading: var(--fs-40);
    --fs-secondary-heading: var(--fs-30);
    --fs-nav: var(--fs-14);
    --fs-button: var(--fs-13);

    @media (min-width: 800px) {
        :root {
            --fs-body: var(--fs-15);
            --fs-primary-heading: var(--fs-56);
            --fs-secondary-heading: var(--fs-40);

            --fs-nav: var(--fs-13);
        }
    }
}