@use 'function' as *;

:root {

    // COLORS
    --red1: hsl(12, 88%, 59%);
    --red2: hsl(13, 100%, 70%);
    --red3: hsl(13, 85%, 46%);
    --red4: hsl(13, 91%, 74%);


    --blue1: hsl(228, 39%, 23%);
    --blue2: hsl(227, 12%, 61%);
    --blue3: hsl(233, 12%, 13%);

    --gray1: hsl(0, 0%, 98%);

    // TYPO
    //family
    --ff-primary: "Be Vietnam Pro", sans-serif;
    //weight
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    //size
    --fs-13: #{fluid(12px, 13px)};
    --fs-14: #{fluid(13px, 14px)};
    --fs-15: #{fluid(14px, 15px)};
    --fs-16: #{fluid(14px, 16px)};
    --fs-30: #{fluid(16px, 30px)};
    //36 ??
    --fs-40: #{fluid(30px, 40px)};
    --fs-56: #{fluid(40px, 56px)};

    --gap-2: #{fluid(16px ,32px)}; // to change name? flex-row-gap: 2rem;
    --grid-col-gap: 1.5rem;
    --body-row-gap: 7.5rem;

    --primary-padding: 3.5rem; //-tb
}