@use '../utilities/function' as *;

html {
    scroll-behavior: smooth;

}

body {
    font-family: var(--ff-primary);
    line-height: 150%;
    position: relative;
    min-width: 300px; //

    display: flex;
    flex-direction: column;

    background-image: url('../../images/bg-tablet-pattern.svg'), url('../../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top -80px right -130px, top 75vh right -150px;
    background-size: #{fluid(450px , 814px)},
    #{fluid(300px, 400px)};

    @media (min-width: 50em) {
        background-position: top -200px right -120px, top calc(100vh + 300px) left -550px;
        background-size: #{fluid(450px , 814px)},
        #{fluid(300px , 814px)};
    }

    * {
        transition: color 0.1s ease, background-color 0.1s ease, fill 0.1s ease;
    }
}

main {
    --body-row-gap: 4rem;

    @media (min-width: 50em) {
        --body-row-gap: 7.5rem;
    }

    display: flex;
    flex-direction: column;
    row-gap: var(--body-row-gap);
}

// ---- HEADERS ----
h1,
h2,
h3 {
    font-weight: var(--fw-bold);
    color: var(--blue1);
    line-height: 1.1;
    letter-spacing: -1.5px;
}

h1 {
    font-size: var(--fs-56);
}

h2 {
    font-size: var(--fs-40);
    font-weight: var(--fw-bold);
}

h3 {
    letter-spacing: -0.5px;
    font-size: var(--fs-16) --fw-16px;
}

// ---- LINK ----
a {
    cursor: pointer;
}


// ---- SECTION CONT ---- 
.section__container {
    --max-width: 1110px;
    --padding: 1.5rem;

    //set width
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.section__container--grid {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: var(--grid-col-gap);

    @media (min-width: 50em) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.section__container--flex {
    display: flex;
}

// ---- NAV | LIST ----
.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

// ---- BUTTON ----
.button {
    cursor: pointer;
    padding: 1rem 2rem;
    border: none;
    border-radius: 100vmax;
    background-color: var(--red1);
    color: var(--gray1);

    font-weight: var(--fw-medium);
    font-size: var(--fs-13);
    line-height: 1;

    box-shadow: 0px 1.2rem 1rem -1rem var(--red2);
}

.button:hover {
    background-color: var(--red2);
    color: var(--gray1);
}

.button[data-type="inverted"] {
    background-color: var(--gray1);
    color: var(--red1);
    box-shadow: 0px 1.2rem 1rem -1rem var(--red3);
}

.button[data-type="inverted"]:hover {
    color: var(--red4);
}

// ---- CONTENT ----
.content {
    font-size: var(--fs-16);
    color: var(--blue2);
    opacity: 90%;
    line-height: 1.8;
}